*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
table, td, th{
    border: solid 1px;
    height: 30px;
}
table{
    border-collapse: collapse;
}
.warna{
    background-color: rgb(204, 157, 247);
}
.warnaa{
    background-color: rgb(165, 165, 255);
}
th{
    background-color: rgb(222, 222, 222);
}
td{
    text-align: center;
}